* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container video {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 130%;
  }
  
  .container h1 {
    font-size: 60px;
    position: absolute;
    z-index: 2;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
  }
  
  .container h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
  }
  
  .container a {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 200px;
  }
  
  .container a:hover {
    background-color: #264653;
    transition: all 0.4s ease-in-out;
  }
  
  /* @media (max-aspect-ratio: 16/9){ 
      .container-vidio{
          width: auto;
          height: 100%;
      }
  }  */
  
  @media (max-aspect-ratio: 16/9) {
    .container-vidio {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .container-vidio {
      width: auto;
      height: 100%;
    }
  }
  @media only screen and (max-width: 900px) {
    .container h1 {
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 1.2em;
      font-size: 50px;
    }
    .container a {
      font-size: 30px;
      margin-top: 80%;
      padding: 12px 50px;
      border-radius: 50px;
    }
  }
  @media (max-width: 767px) {
    .container h1 {
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 1.2em;
      font-size: 40px;
    }
    .container a {
      font-size: 20px;
      margin-top: 110%;
      padding: 10px 50px;
      border-radius: 50px;
    }
  }
  